body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}


input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-inline-start: 10px;
    padding-right: 10px;
    border: 4px;
    border-radius: 10px;
    background-color: #4CAF50;
    color: #fff;
   
    translate: 40px;
}

.lists {
    display: flex;
    justify-content: space-between;
}

.pending-tasks,
.completed-tasks {
    flex-basis: 48%;
}

h2 {
    margin-bottom: 10px;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 4px;
}

.completed-task {
    text-decoration: line-through;
    background-color: #e6e6e6;
}

.empty-message {
    text-align: center;
    color: #888;
}
